<launch>
    <arg name="camera_name" default="sony_cam3"/>
    <arg name="camera_id" default="_cam3"/>
    <arg name="device_ip" default="192.168.1.203"/>
    <arg name="camera_fps" default="30"/>
    <arg name="camera_calib" default="file://$(find sony_cam)/config/$(arg camera_name)_info.yaml"/>
    <arg name="image_width" default="1280"/>
    <arg name="image_height" default="720"/>

    <node name="$(arg camera_name)"
        pkg="sony_cam"
        type="sony_cam_node"
        output="screen">
        <param name="frame_rate" value="$(arg camera_fps)"/>
        <param name="camera_name" value="$(arg camera_name)"/>
        <param name="camera_frame_id" value="$(arg camera_name)"/>
        <param name="device_id" value="/dev/video$(arg camera_id)"/>
        <param name="image_width" value="$(arg image_width)"/>
        <param name="image_height" value="$(arg image_height)"/>
        <param name="camera_info_url" value="$(arg camera_calib)"/>
    </node>

    <node pkg="charuco_calibration" name="charuco_calibration" type="charuco_calibration_node" output="screen">
        <remap from="image" to="$(arg camera_name)/image_raw"/>
        <param name="square_length" value="0.020" />
        <param name="marker_length" value="0.015"/>
        <param name="squares_x" value="11"/>
        <param name="squares_y" value="8"/>
        <param name="dictionary_id" value="6"/>
         <param name="board_image_width" value="7016"/>
        <param name="board_image_height" value="4961"/>
        <param name="board_image_border" value="100"/>
        <param name="perform_refinement" value="true"/>
        <param name="draw_historical_markers" value="true"/>
        <param name="save_images" value="true"/>
        <param name="output_file" value="calibration.yaml"/>
        <rosparam command="load" file="$(find charuco_calibration)/launch/calibration_params.yaml"/>
    </node>
</launch>